 body {
	margin: 0;
	font-family : "Segoe UI","Helvetica Neue",Arial,sans-serif,"Emoji","Segoe UI Emoji","Segoe UI Symbol" ;
}


#header-Tourisme h1 {
	font-family: "Verdana" ;
	color :#103D82;

	padding: 15px 50px;
	margin : 0;
}

.Dev-Tourisme-Txt {
	padding-left: 20px;
	padding-right: 20px;
}



.Dev-Tourisme{
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.Dev-Tourisme-Titre{
	border-top: solid;
	border-width: 1px;
	border-color: #dfdfdf;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #103D82;
	color: white;
	font-size: 12px;
	padding-bottom: 1px;
}
#header-Tourisme h1 {
	font : #AAA;
}

.Dev-Tourisme-Txt{
	border: solid;
	border-width: 1px;
	border-color: #dfdfdf;
}

.IMG_Tourisme{
	width:8%;
	float:left;
	margin-left:10px;
}


main{
	color: black;
}

.texteTourisme{
	font-size: 15px;
}

#Office-Tourisme{
	margin-top: 7.5%;
}

#BAO{
	background-color: #103D82;
	color: white;
	width: 80%;
	margin-left: 10%;
	padding : 1px 0 1px 0;
}
#Copyright{
	text-align: center;
	background-color: #252525;
	color: white;
	margin : 0;
	padding : 5px 0 5px 0;
}

#Service-Dev-Tourisme{
	margin-top: 0px;
	padding-top: 0;
}


#Top-header {
	background-color: #103D82 ;
	padding-top: 10px;
}

#logoBayeux{width:150px;
	margin:0 0 10px 0;
	padding-left: 5%;
}

footer li {
	list-style: none;
}

footer img {
	padding-top: 1vh;
}