.wrapper{
	display : grid;
	/* grid-template-columns: repeat(10,1fr); */
	grid-template-columns: 7.5% auto 7.5%;
	grid-template-rows: 5% 1% auto;
	background-color: #f6f5f2;
}

#top-page{ /* header */
	grid-column: 1/2;
}

.one {
	 grid-column:2/3;
	grid-row: 1/4;
	background-color: #ffffff;
	box-shadow: 0px 0px 50px black;
	display: grid;
	grid-template-columns: auto;
}

main {
	grid-column: 0/3;
	display: grid;
	grid-template-columns: 70% auto;
}

.two{
	grid-row: row 0;
	grid-column: 0/2;
	padding-left: 20px;
	padding-right: 15px;
}
.three{
	grid-row: row 0;
	grid-column:2;
	margin-top: 0;
	padding-right: 80px;
}

.two > h2{
	color: #d5872e;
}

.four{
	grid-column:2/3;
	display: grid;
	grid-template-columns: 16% 17% 17% 17% 17% 16%;
	background-color: #252525;
	color: white;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}
.four1{ grid-column: 2; font-size: 12px;}
.four2{ grid-column: 3; font-size: 12px; text-align: center;}
.four3{ grid-column: 4; font-size: 12px; text-align: center;}
.four4{ grid-column: 5; padding-left: 10%;}

main a{color:black;}
.four1 a{color : white;}

.four1, .four2, .four3{
	border-right: dashed;
	border-width: 1px;
}
