/* default styles for extension "tx_frontend" */
    .ce-align-left { text-align: left; }
    .ce-align-center { text-align: center; }
    .ce-align-right { text-align: right; }

    .ce-table td, .ce-table th { vertical-align: top; }

    .ce-textpic, .ce-image, .ce-nowrap .ce-bodytext, .ce-gallery, .ce-row, .ce-uploads li, .ce-uploads div { overflow: hidden; }

    .ce-left .ce-gallery, .ce-column { float: left; }
    .ce-center .ce-outer { position: relative; float: right; right: 50%; }
    .ce-center .ce-inner { position: relative; float: right; right: -50%; }
    .ce-right .ce-gallery { float: right; }

    .ce-gallery figure { display: table; margin: 0; }
    .ce-gallery figcaption { display: table-caption; caption-side: bottom; }
    .ce-gallery img { display: block; }
    .ce-gallery iframe { border-width: 0; }
    .ce-border img,
    .ce-border iframe {
        border: 2px solid #000000;
        padding: 0px;
    }

    .ce-intext.ce-right .ce-gallery, .ce-intext.ce-left .ce-gallery, .ce-above .ce-gallery {
        margin-bottom: 10px;
    }
    .ce-intext.ce-right .ce-gallery { margin-left: 10px; }
    .ce-intext.ce-left .ce-gallery { margin-right: 10px; }
    .ce-below .ce-gallery { margin-top: 10px; }

    .ce-column { margin-right: 10px; }
    .ce-column:last-child { margin-right: 0; }

    .ce-row { margin-bottom: 10px; }
    .ce-row:last-child { margin-bottom: 0; }

    .ce-above .ce-bodytext { clear: both; }

    .ce-intext.ce-left ol, .ce-intext.ce-left ul { padding-left: 40px; overflow: auto; }

    /* Headline */
    .ce-headline-left { text-align: left; }
    .ce-headline-center { text-align: center; }
    .ce-headline-right { text-align: right; }

    /* Uploads */
    .ce-uploads { margin: 0; padding: 0; }
    .ce-uploads li { list-style: none outside none; margin: 1em 0; }
    .ce-uploads img { float: left; padding-right: 1em; vertical-align: top; }
    .ce-uploads span { display: block; }

    /* Table */
    .ce-table { width: 100%; max-width: 100%; }
    .ce-table th, .ce-table td { padding: 0.5em 0.75em; vertical-align: top; }
    .ce-table thead th { border-bottom: 2px solid #dadada; }
    .ce-table th, .ce-table td { border-top: 1px solid #dadada; }
    .ce-table-striped tbody tr:nth-of-type(odd) { background-color: rgba(0,0,0,.05); }
    .ce-table-bordered th, .ce-table-bordered td { border: 1px solid #dadada; }

    /* Space */
    .frame-space-before-extra-small { margin-top: 1em; }
    .frame-space-before-small { margin-top: 2em; }
    .frame-space-before-medium { margin-top: 3em; }
    .frame-space-before-large { margin-top: 4em; }
    .frame-space-before-extra-large { margin-top: 5em; }
    .frame-space-after-extra-small { margin-bottom: 1em; }
    .frame-space-after-small { margin-bottom: 2em; }
    .frame-space-after-medium { margin-bottom: 3em; }
    .frame-space-after-large { margin-bottom: 4em; }
    .frame-space-after-extra-large { margin-bottom: 5em; }

    /* Frame */
    .frame-ruler-before:before { content: ''; display: block; border-top: 1px solid rgba(0,0,0,0.25); margin-bottom: 2em; }
    .frame-ruler-after:after { content: ''; display: block; border-bottom: 1px solid rgba(0,0,0,0.25); margin-top: 2em; }
    .frame-indent { margin-left: 15%; margin-right: 15%; }
    .frame-indent-left { margin-left: 33%; }
    .frame-indent-right { margin-right: 33%; }
/* default styles for extension "tx_cssstyledcontent" */
    /* Headers */
    .csc-header-alignment-center { text-align: center; }
    .csc-header-alignment-right { text-align: right; }
    .csc-header-alignment-left { text-align: left; }

    div.csc-textpic-responsive, div.csc-textpic-responsive * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  }

    /* Clear floats after csc-textpic and after csc-textpic-imagerow */
    div.csc-textpic, div.csc-textpic div.csc-textpic-imagerow, ul.csc-uploads li { overflow: hidden; }

    /* Set padding for tables */
    div.csc-textpic .csc-textpic-imagewrap table { border-collapse: collapse; border-spacing: 0; }
    div.csc-textpic .csc-textpic-imagewrap table tr td { padding: 0; vertical-align: top; }

    /* Settings for figure and figcaption (HTML5) */
    div.csc-textpic .csc-textpic-imagewrap figure, div.csc-textpic figure.csc-textpic-imagewrap { margin: 0; display: table; }

    /* Captions */
    figcaption.csc-textpic-caption { display: table-caption; }
    .csc-textpic-caption { text-align: left; caption-side: bottom; }
    div.csc-textpic-caption-c .csc-textpic-caption, .csc-textpic-imagewrap .csc-textpic-caption-c { text-align: center; }
    div.csc-textpic-caption-r .csc-textpic-caption, .csc-textpic-imagewrap .csc-textpic-caption-r { text-align: right; }
    div.csc-textpic-caption-l .csc-textpic-caption, .csc-textpic-imagewrap .csc-textpic-caption-l { text-align: left; }

    /* Float the columns */
    div.csc-textpic div.csc-textpic-imagecolumn { float: left; }

    /* Border just around the image */
    div.csc-textpic-border div.csc-textpic-imagewrap img {
        border: 2px solid #000000;
        padding: 0px 0px;
    }

    div.csc-textpic .csc-textpic-imagewrap img { border: none; display: block; }

    /* Space below each image (also in-between rows) */
    div.csc-textpic .csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 10px; }
    div.csc-textpic .csc-textpic-imagewrap .csc-textpic-imagerow-last .csc-textpic-image { margin-bottom: 0; }

    /* colSpace around image columns, except for last column */
    div.csc-textpic-imagecolumn, td.csc-textpic-imagecolumn .csc-textpic-image { margin-right: 10px; }
    div.csc-textpic-imagecolumn.csc-textpic-lastcol, td.csc-textpic-imagecolumn.csc-textpic-lastcol .csc-textpic-image { margin-right: 0; }

    /* Add margin from image-block to text (in case of "Text & Images") */
    div.csc-textpic-intext-left .csc-textpic-imagewrap,
    div.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap {
        margin-right: 10px;
    }
    div.csc-textpic-intext-right .csc-textpic-imagewrap,
    div.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap {
        margin-left: 10px;
    }

    /* Positioning of images: */

    /* Center (above or below) */
    div.csc-textpic-center .csc-textpic-imagewrap, div.csc-textpic-center figure.csc-textpic-imagewrap { overflow: hidden; }
    div.csc-textpic-center .csc-textpic-center-outer { position: relative; float: right; right: 50%; }
    div.csc-textpic-center .csc-textpic-center-inner { position: relative; float: right; right: -50%; }

    /* Right (above or below) */
    div.csc-textpic-right .csc-textpic-imagewrap { float: right; }
    div.csc-textpic-right div.csc-textpic-text { clear: right; }

    /* Left (above or below) */
    div.csc-textpic-left .csc-textpic-imagewrap { float: left; }
    div.csc-textpic-left div.csc-textpic-text { clear: left; }

    /* Left (in text) */
    div.csc-textpic-intext-left .csc-textpic-imagewrap { float: left; }

    /* Right (in text) */
    div.csc-textpic-intext-right .csc-textpic-imagewrap { float: right; }

    /* Right (in text, no wrap around) */
    div.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap { float: right; }

    /* Left (in text, no wrap around) */
    div.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap { float: left; }

    div.csc-textpic div.csc-textpic-imagerow-last, div.csc-textpic div.csc-textpic-imagerow-none div.csc-textpic-last { margin-bottom: 0; }

    /* Browser fixes: */
    /* Fix for unordered and ordered list with image "In text, left" */
    .csc-textpic-intext-left ol, .csc-textpic-intext-left ul { padding-left: 40px; overflow: auto; }

    /* Textmedia */
    .csc-textmedia,
    .csc-textmedia-gallery { overflow: hidden; }
    .csc-textmedia-gallery-column { float: left; }
    .csc-textmedia-gallery-column { margin-right: 10px; }
    .csc-textmedia-gallery-column:last-child { margin-right: 0; }
    .csc-textmedia-gallery-row { overflow: hidden; margin-bottom: 10px; }
    .csc-textmedia-gallery-row:last-child { margin-bottom: 0; }
    .csc-textmedia-above .csc-textmedia-gallery { margin-bottom: 10px; }
    .csc-textmedia-above-right .csc-textmedia-gallery { float: right; }
    .csc-textmedia-above-left .csc-textmedia-gallery { float: left; }
    .csc-textmedia-above .csc-textmedia-text { clear: both; }
    .csc-textmedia-above-center .csc-textmedia-gallery-outer,
    .csc-textmedia-below-center .csc-textmedia-gallery-outer { position: relative; float: right; right: 50%; }
    .csc-textmedia-above-center .csc-textmedia-gallery-inner,
    .csc-textmedia-below-center .csc-textmedia-gallery-inner { position: relative; float: right; right: -50%; }
    .csc-textmedia-below .csc-textmedia-gallery { margin-top: 10px; }
    .csc-textmedia-below-right .csc-textmedia-gallery { float: right; }
    .csc-textmedia-below-left .csc-textmedia-gallery { float: left; }
    .csc-textmedia-inside-right .csc-textmedia-gallery { float: right; margin-left: 10px; }
    .csc-textmedia-inside-left .csc-textmedia-gallery { float: left; margin-right: 10px; }
    .csc-textmedia-beside-right .csc-textmedia-gallery { float: right; margin-left: 10px; }
    .csc-textmedia-beside-right .csc-textmedia-text { overflow: hidden; }
    .csc-textmedia-beside-left .csc-textmedia-gallery { float: left; margin-right: 10px; }
    .csc-textmedia-beside-left .csc-textmedia-text { overflow: hidden; }

    /* Uploads */
    .ce-uploads { margin: 0; padding: 0; }
    .ce-uploads li { list-style: none outside none; margin: 1em 0; }
    .ce-uploads img { float: left; margin-right: 1em; vertical-align: top; }
    .ce-uploads span { display: block; }

    /* Table */
    .contenttable { width: 100%; max-width: 100%; }
    .contenttable th, .contenttable td { padding: 0.5em 0.75em; vertical-align: top; }
    .contenttable thead th { font-weight: bold; border-bottom: 2px solid #dadada; }
    .contenttable th, .contenttable td { border-top: 1px solid #dadada; }
    .contenttable-striped tbody tr:nth-of-type(odd) { background-color: rgba(0,0,0,.05); }
    .contenttable-bordered th, .contenttable-bordered td { border: 1px solid #dadada; }

    /* Space */
    .csc-space-before-extra-small { margin-top: 1em; }
    .csc-space-before-small { margin-top: 2em; }
    .csc-space-before-medium { margin-top: 3em; }
    .csc-space-before-large { margin-top: 4em; }
    .csc-space-before-extra-large { margin-top: 5em; }
    .csc-space-after-extra-small { margin-bottom: 1em; }
    .csc-space-after-small { margin-bottom: 2em; }
    .csc-space-after-medium { margin-bottom: 3em; }
    .csc-space-after-large { margin-bottom: 4em; }
    .csc-space-after-extra-large { margin-bottom: 5em; }

    /* Frame */
    .csc-frame-ruler-before:before { content: ''; display: block; border-top: 1px solid rgba(0,0,0,0.25); margin-bottom: 2em; }
    .csc-frame-ruler-after:after { content: ''; display: block; border-bottom: 1px solid rgba(0,0,0,0.25); margin-top: 2em; }
    .csc-frame-indent { margin-left: 15%; margin-right: 15%; }
    .csc-frame-indent-left { margin-left: 33%; }
    .csc-frame-indent-right { margin-right: 33%; }
